{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}All articles{% endblock %}

{% block body %}

<div class="container">

    <h1>All articles from article s table : </h1>
    <ul>
    {% for article in articles %}
        <li>
            <h2>{{ loop.index }} / {{ article.title }} - Category : {{ article.category.name }}</h2>
            <p>{{ article.content }}</p>
        </li>
    {% else %}
        <li>Aucun article trouvé.</li>
    {% endfor %}
    </ul>
    <a href="{{ path('app_index') }}">
      Back to homepage.
    </a>
</div>
{% endblock %}