<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
<nav class="navbar navbar-expand-lg navbar-bg-dark bg-dark">
  <div class="row">
  <a class="navbar-brand" href="{{ path('blog_index') }}">Navbar</a>
  <ul>
{% if app.user %}
    
    <li>
    Bonjour {{ app.user.username }} !
    <a href="{{ path('app_logout') }}"> <button class="btn btn-outline-primary">Se déconnecter</button></a>
    </li>
{% else %}
    <li>
    <a href="{{ path('app_login') }}"><button class="btn btn-outline-secondary">Se connecter</button></a>
    </li>
{% endif %}
    <li>
    <a href="{{ path('article_index') }}"><button class="btn btn-outline-primary">article</button></a>
    </li>
  </ul>
  </div>

</nav>        {% block body %}{% endblock %}
        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
